
$green: rgba(177,240,10,1);
$orange: rgba(253,187,45,1);

$list1: $green, $orange;

$enable-responsive-font-sizes: true;

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
}

$gradients: () !default;
$gradients: map-merge((
    chill: linear-gradient(135deg, #09e485 0%,#0291e3 100%),
    warm: linear-gradient(135deg, #F2CD48 0%,#FD803F 100%),
    hot: linear-gradient(135deg, #F9445A 0%,#FD803F 100%),
    cold: linear-gradient(135deg, #611594 0%,#2F93CC 100%),
    burned: linear-gradient(135deg, #753c06 0%,#a85c04 100%),
), $gradients);

// Gradient backgrounds
@mixin bg-gradient($parent, $gradient) {
  #{$parent} {
    background: $gradient;
  }
}

// Gradient text
@mixin text-gradient($parent, $gradient) {
  #{$parent} {
    background-image: $gradient;
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

// Gradient Classes
@each $gradient, $value in $gradients {
  @include bg-gradient(".bg-gradient-#{$gradient}", $value);
}

// Gradient Classes
@each $gradient, $value in $gradients {
  @include text-gradient(".text-gradient-#{$gradient}", $value);
}


// // Bootstrap and its default variables
// @import '../node_modules/bootstrap/scss/bootstrap';
// // BootstrapVue and its default variables
// @import '../node_modules/bootstrap-vue/src/index.scss';
